extends layout.pug
block content
  h1 Events

  table(class='event-table' cellspacing="0")
    thead
      tr
        th.table-section Ids
        th.table-section Event
        th.table-section Time
        th.table-section City
        th.table-section Description
    tbody
      each event in events
        tr
          td.event-data= event.id
          td.event-data= event.title
          td.event-data= event.date
          td.event-data= event.city
          td.event-data= event.description
          td.event-data
            i.fa.fa-trash-o


  if error
    .errors
      p.error-text= error

  if formData
    form(method='post', class='form event-form visible', action='/events')
      fieldset.form-fieldset
        label(class='form-label' for='title') Event Title
        input(class='form-input' type='text' id='title' name='title' placeholder='Enter Event Title' value=formData.title)
      fieldset.form-fieldset
        label(class='form-label' for='date') Date
        input(class='form-input' type='text' id='date' name='date' placeholder='mm-dd-yy' value=formData.date)
      fieldset.form-fieldset
        label(class='form-label' for='description') Description
        input(class='form-input' type='text' id='description' name='description' placeholder='Enter a Description' value=formData.description)
      div.inline-row
        fieldset.form-fieldset
          label(class='form-label' for='city') City
          input(class='form-input' type='text' id='city' name='city' placeholder='Enter a City' value=formData.city)
        fieldset.form-fieldset
          label(class='form-label' for='state') State
          input(class='form-input' type='text' id='state' name='state' placeholder='CA' value=formData.state)
      button(class='btn btn-blue' type='submit') Add
  else
    button.btn.btn-blue.add-event#event-btn Add Event
    form(method='post', class='form event-form', action='/events')
      fieldset.form-fieldset
        label(class='form-label' for='title') Event Title
        input(class='form-input' type='text' id='title' name='title' placeholder='Enter Event Title' value=name)
      fieldset.form-fieldset
        label(class='form-label' for='date') Date
        input(class='form-input' type='text' id='date' name='date' placeholder='mm-dd-yy')
      fieldset.form-fieldset
        label(class='form-label' for='description') Description
        input(class='form-input' type='text' id='description' name='description' placeholder='Enter a Description')
      div.inline-row
        fieldset.form-fieldset
          label(class='form-label' for='city') City
          input(class='form-input' type='text' id='city' name='city' placeholder='Enter a City')
        fieldset.form-fieldset
          label(class='form-label' for='state') State
          input(class='form-input' type='text' id='state' name='state' placeholder='CA')
      button(class='btn btn-blue' type='submit') Add
