extends layout.pug
block content
  h1 Events

  table(class='event-table' cellspacing="0")
    thead
      tr
        th Ids
        th Events
        th Time
        th City
        th Description
    tbody
      each event in events
        tr
          td= event.id
          td= event.title
          td= event.date
          td= event.city
          td= event.description
          td
            i.fa.fa-trash-o

  button.add-event#event-btn Add Event
  if error
    .errors
      p= error
  form(method='post', class='form', action='/events')
    fieldset
      label(for='title') Event Title
      input(type='text' id='title' name='title' placeholder='Enter Event Title' value=name)
    fieldset
      label(for='date') Date
      input(type='text' id='date' name='date' placeholder='mm-dd-yy')
    fieldset
      label(for='description') Description
      input(type='text' id='description' name='description' placeholder='Enter a Description')
    fieldset
      label(for='city') City
      input(type='text' id='city' name='city' placeholder='Enter a City')
    button(type='submit') Add
